.result{
    background: linear-gradient(to bottom, hsl(120, 30%,97%), hsl(120, 50%, 90%));
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
}

.results{
    display: flex;
     background-color: white;
     margin: 1%;
     margin-top: 3%;
     border-radius: 5px;
     width: 60%;
}

.containerResultPayment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paymentResult{
    display: flex;
    background-color: white;
    border-radius: 5px;
    background: linear-gradient(to bottom, hsl(120, 30%,97%), hsl(120, 50%, 90%));
    margin: 1%;
    padding: 1%;
    
}
.payment{
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 30%;
    margin: 1%;
    padding: 1%;
    
}